*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: red;
    border-radius: 1vmin;
    top: calc(
        var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
    );
    left: calc(
        var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
    );
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vmin;
}

#title {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 0.5vmin #000;
}

#scoreboard .scoring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scoreboard .scoring p {
    font-size: 2vmin;
    margin: 0;
    color: #aaaaaa;
}

#score {
    font-size: 3vmin;
    margin: 0;
    color: #cccccc;
    font-weight: bold;
}

#score-show {
    position: relative;
}

.score-animate {
    position: absolute;
    left: 4vmin;
    color: #cccccc;
    font-size: 1.5vmin;
    animation: score 200ms ease-in-out;
}

@keyframes score {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}
